@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");
body {
  background: #141414;
  color: #ffffff;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.diiv {
  white-space: pre-wrap;
}

h1 {
  font-family: "Montserrat", sans-serif;
}
.h11 {
  font-family: "DM Sans", sans-serif;
  font-size: 4rem;
  margin-left: 50px;
  margin-top: 50px;
}
.h12 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
}

.wl {
  padding-top: 20px;
}

.movie-app {
  padding-top: 9%;
}
.movie-app > .row {
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
}

.image-container {
  padding-left: 20px;
  border-radius: 10px;
  position: relative;
  transition: transform 0.2s;
}
.bor img {
  border-radius: 10px;
  margin-top: 20px;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.bbt {
  position: absolute;
  margin-left: 73%;
  margin-top: 20px;
}

.watchedoverlay {
  bottom: 100%;
}
.result-card {
  display: flex;
  margin-bottom: 20px;
}
.result-card .poster-wrapper img,
.filler-poster {
  width: 100px;
  height: 150px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-right: 15px;
  margin-left: 50px;
  margin-top: 30px;
  object-fit: cover;
  object-position: center;
  display: block;
  color: transparent;
}
.result-card .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .inner-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.filler-poster {
  width: 180px;
  height: 300px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-right: 15px;
  display: block;
  color: transparent;
}

.image-containerr {
  position: relative;
  transition: transform 0.2s;
}
.img-container {
  width: 200px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  margin-top: 20px;
}

.image-containerr:hover {
  cursor: pointer;

  transform: scale(1.1);
}

.moviecontainer {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 280px;
  transition: transform 0.2s;
}

.moviecontainer:hover {
  object-fit: cover;
  transform: scale(1.1);
}
.moviename {
  display: flex;
  width: 250px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(255, 255, 255);

  padding-top: 10px;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movienamee {
  display: flex;
  width: 250px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin: 15px 0;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bbutton {
  padding: 15px 25px;
  position: fixed;
  margin-top: 20px;
  scale: 80%;
  border: unset;
  border-radius: 15px;
  color: #635f5f;
  z-index: 1;
  background: #000000;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.bbutton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  text-align: center;
}

.bbutton:hover {
  color: #e8e8e8;
}

.bbutton:hover::before {
  width: 100%;
}

.movie-card {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  border: 0;
  display: block;
}

.containerr {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.movie-page {
  padding: 30px 0;
}

.no-movies {
  color: #c4c4c4;
  font-size: 1rem;
  text-align: center;
}

.wlbutton {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.wlbutton:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.wlbutton:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.wlbutton::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.wlbutton:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.wlbutton2 {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 255, 106);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.wlbutton2:hover {
  background: rgb(61, 255, 106);
  box-shadow: 0 0 30px 5px rgba(0, 236, 142, 0.815);
  color: black;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.wlbutton2:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.wlbutton2::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

.wlbutton2:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.shadow__btn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  scale: 75%;
  text-transform: uppercase;
  transition: 0.5s;
  margin-left: -35px;
  transition-property: box-shadow;
}

.shadow__btn {
  background: rgb(0, 140, 255);
  box-shadow: 0 0 25px rgb(0, 140, 255);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 25px rgb(0, 140, 255),
    0 0 50px rgb(0, 140, 255), 0 0 100px rgb(0, 140, 255);
}

.shadow__btnn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  scale: 75%;
  text-transform: uppercase;
  transition: 0.5s;
  margin-left: -45px;
  transition-property: box-shadow;
}

.shadow__btnn {
  background: rgb(255, 20, 20);
  box-shadow: 0 0 25px rgb(255, 50, 20);
}

.shadow__btnn:hover {
  box-shadow: 0 0 5px rgb(255, 50, 20), 0 0 25px rgb(255, 50, 20),
    0 0 50px rgb(255, 50, 20), 0 0 100px rgb(255, 50, 20);
}
