.hero-container {
  position: relative;
  height: 100vh;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(17, 16, 16);
  color: white;
  padding: 20px;
  filter: drop-shadow(0 0 0.75rem crimson);
}

.hero-image {
  position: relative;
  height: 100%;
}

.hero-image img {
  width: 100%;
  height: 100%;
  filter: brightness(50%) blur(2px);
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  animation: fade-in 1s ease forwards;
}

.hero-text h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.hero-text p {
  font-size: 1.2em;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -60%);
  }
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(50px);
  animation: fade-in 1s forwards;
}

.navbar .buttonn {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.buttonn:focus,
.buttonn:hover {
  color: #fff;
}

.buttonn:focus:after,
.buttonn:hover:after {
  width: 100%;
  left: 0%;
}

.buttonn:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.navbar .login {
  float: right;
  margin-right: 30px;
}
.navbar .login button {
  margin-left: 20px;
  margin-top: 20px;
}

.logodivv {
  cursor: pointer;
}
